body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    background-image: url('./assets/img/5_background/background_website_2.png');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    h1{
        font-size: 64px;
        letter-spacing: 3px;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    
    }
    canvas{
        background-color: black;
        width: 720px;
        height: 480px;
    }

}